body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
}

.token {
    -webkit-font-smoothing: initial;
	-moz-osx-font-smoothing: initial;
}

div.head {
	text-align: center;
	
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    pointer-events: none;
}

div.main {
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	min-height: calc(100vh - 190px);
	
	border-top: 1px lightgray solid;
	border-left: 1px lightgray solid;
	border-right: 1px lightgray solid;
}

div#frameworks {
	display: inline-block;
	width: 190px;
}

div.subHeading {
    font-weight: 100;
    font-size: 30px;
	
	margin-left: -10px;
	padding-left: 10px;
	
	margin-right: -10px;
	padding-right: 10px;
	
	border-bottom: 1px lightgray solid;
	text-transform: uppercase;
}

div.platformTitle {
	float: left;
	text-align: right;
	font-size: 20px;
	margin-right: 15px;
	margin-top: 20px;
	width: 115px;
}

div.codeExampleDescription {
	margin-top: 40px;
	opacity: .7;
	padding-left: 10px;
	border-left: 1px gray solid;
}

h1 {
    font-weight: 100;
    font-size: 75px;
    margin-top: 10px;
}

h2 {
	font-weight: 100;
	margin-top: -40px;
	font-size: 35px;
}

a {
    opacity: .5;
    transition: .25s opacity ease-in-out;
    color: black;
}

a:hover {
    opacity: 1;
}