{
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true
		}
	},
	"extends": "eslint:recommended",
	"rules": {
		"eqeqeq": [
			2,
			"allow-null"
		],

		"accessor-pairs": 2,
		"curly": [
			1,
			"all"
		],
		"dot-location": [
			1,
			"property"
		],
		"no-empty-function": 1,
		"no-implied-eval": 2,
		"no-lone-blocks": 1,
		"no-new-func": 2,
		"no-new-wrappers": 2,
		"no-new": 2,
		"no-proto": 2,
		"no-useless-call": 1,
		"no-void": 1,
		"radix": 2,
		"yoda": 1,

		"indent": [
			2,
			"tab"
		],
		"quotes": [
			1,
			"single"
		],
		"linebreak-style": [
			1,
			"unix"
		],

		"semi": [
			1,
			"never"
		],
		"no-extra-semi": 1,
		"no-unexpected-multiline": 2,

		"space-before-blocks": 1,

		"no-console": 1,
		"comma-dangle": [
			1,
			"always-multiline"
		],
		"no-undef": 1,
		"no-dupe-args": 1,
		"no-dupe-keys": 1,
		"no-duplicate-case": 1,
		"no-empty-character-class": 1,
		"no-empty": 1,
		"no-invalid-regexp": 2,
		"no-irregular-whitespace": 2,
		"no-unreachable": 1,
		"valid-typeof": 2,
		"no-unused-vars": 1,
		"brace-style": [
			1,
			"1tbs",
			{ "allowSingleLine": false }
		],
		"eol-last": 1,
		"no-lonely-if": 1,
		"object-curly-spacing": [
			1,
			"always"
		],

		"handle-callback-err": 1,
		"no-path-concat": 2,

		"no-var": 2,
		"prefer-const": 1,
		"prefer-spread": 1,
		"arrow-spacing": [
			1,
			{ "before": true, "after": true }
		],
		"arrow-parens": [
			1,
			"as-needed"
		]
	},
	"env": {
		"node": true,
		"es6": true,
		"mocha": true
	},
	"globals": {
		"__VERSION__": false
	}
}
